html, body {
	font: arial;
	background-color: #000000;
	color: #6e3b83;
	margin: 0;
	padding: 0;
	width: 100%;
}
h1, h2 {
  font-weight: bold;
  color: #d17078;
}
p {
	color:#512e6c;
}
nav {	
	width: 20%; 
	float: right; 
	padding: 1%; 
	margin: 0 0 0 10px;
	overflow: hidden;
	position: fixed;
	right: 0px;
	top: 5px;
	background-color: #d17078;
}
nav ul li {
	list-style-type:none; 
	padding:0 0 0 0px;
	text-align: center;
}
footer { 
	background:#512e6c;
	color:#b34f6c;
	text-align:center;
	padding:2%;
    position: fixed;
	width: 100%;
    bottom:0;
	float:bottom;
}
header { 
	height:100px;	
	background: #b34f6c; 
	margin: 0 0 10px 10px; 
}
a {
	text-decoration: none;
}
nav ul > li:hover  {
   background-color: #b34f6c;
   transition: width 0.5s, height 0.5s, transform 0.5s;
   transform: scale(105%);
}
nav ul > li:hover > a	{
	color: #512e6c;
}
nav ul li a.active{
   background-color: #512e6c;
   color: #f3d065;
}
#content {
	margin:10px;
	width:75%; 
	background: #f3d065; 
	float:center; 
	padding:1%;
	overflow:hidden; 
}
#wrapper { 
	width:90%;
	background-color: antiquewhite;
	overflow:hidden;
	margin:0 auto;
	min-height:calc(100% - 52px); 
	padding:1%; 
}
/*RWD - responsive web design*/
@media only screen and (max-width: 900px) {
   nav {width:88%; position:absolute; height:30px; padding-bottom:10px; margin-right:20px;}
   nav ul li {display: inline; }
	nav ul li:after {content: " |";}
   #content {width: 98%;position:relative; top: 30px;margin-top:5%;}
}